.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.profil{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.profil--container{
  width: 90%;
  height: 90%;
}
.profil--container--content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: coral;
}
.profil--container--left{
  width: 50%;
  height: 100%;
  padding-left: 0.6rem;
  color: white;
}
.profil--container--right{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
button{
  padding: 1rem;
  background-color: coral;
  margin-top: 10px;
  border-radius: 10px;
}
.profil--images{
  width: 150px;
  height: 150px;
  border: 1px solid white;
  border-radius: 10px;
}
.profil--images img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}